@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

#outlined-basic {
  width: 260px;
  height: 10px;
  font-size: 14px;
  text-align: left;
  border-color: #cfd0d7;
}

.form1 {
  height: 42px;
  width: 323px;
  border-color: #cfd0d7;
}

.line {
  height: 2px;
  color: #c4c4c4;
}

.careme {
  background-image: url("./v1_629.png");
  width: 200px;
  height: 37.5px;
  margin-left: -10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, contain;
  border: none;
  border-color: white;
  padding-top: 0.5px;
}

.submit {
  width: 128px;
  height: 42px;
  border-radius: 0px;
}

.space {
  display: none;
}

.circle1 {
  background-image: url("./circle.JPG");
  width: 12px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, contain;
  border: none;
  border-color: white;
  padding: 3px 8px 3px 0px;
}

.text {
  padding: 0px 0px 0px 30px;
  width: 160px;
  color: #2b2d42;
  font-size: 16px;
  text-decoration: none;
}

.images {
  width: 200px;
  height: 130px;
  display: inline;
}

.c1 {
  background-image: url("./C1.png");
  width: 35%;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-color: white;
  margin: 20px 0px 10px 0px;
  float: left;
}

.c2 {
  background-image: url("./C2.JPG");
  width: 45%;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-color: white;
  margin: 20px 45px 10px 0px;
  float: right;
}

.bottom {
  width: 200px;
  display: inline;
  color: #2b2d42;
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 16px;
  font-weight: medium;
  text-align: left;
  text-decoration: none;
}

.face {
  background-image: url("./fac.JPG");
  width: 60%;
  height: 23px;
  float: right;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-color: white;
  margin: 0px 0px 0px 0px;
}

.phone1 {
  display: none;
}

.underline {
  background-image: url("./under.JPG");
  width: 36px;
  height: 30px;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-color: white;
  margin: 0px 0px 20px -5px;
}
.underline2 {
  display: none;
}

.hide {
  width: 40px;
  height: 40px;
  margin-left: 90%;
  position: relative;
}
.mobscroll {
  display: none;
}

@media all and (max-width: 419px) {
  #outlined-basic {
    width: 296px;
    height: 10px;
    font-size: 14px;
    text-align: left;
    border-color: #cfd0d7;
  }

  .phone1 {
    display: block;
  }

  .phone2 {
    display: none;
  }

  .careme {
    display: none;
  }

  .btn2 {
    display: none;
  }

  .submit2 {
    width: 128px;
    height: 42px;
    border-radius: 0px;
  }

  .space {
    display: block;
  }

  .bottom {
    margin-top: 0px;
    font-size: 16px;
    font-weight: medium;
    text-align: center;
    text-decoration: none;
    margin-left: 65px;
  }

  .images {
    background-image: url("./c3.JPG");
    width: 190px;
    height: 87px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-color: white;
    margin: 20px 10px 10px 65px;
    float: left;
  }

  .c1 {
    display: none;
  }

  .c2 {
    display: none;
  }

  .text {
    padding: 0px 0px 0px 5px;
    width: 100%;
    color: #2b2d42;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .underline {
    display: none;
  }

  .underline2 {
    background-image: url("./under2.JPG");
    display: block;
    width: 36px;
    height: 30px;
    float: top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-color: white;
    margin: 0px 0px 0px -5px;
  }
  .underline3 {
    background-image: url("./under3.JPG");
    display: block;
    width: 211px;
    height: 20px;
    float: top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-color: white;
    margin: 0px 0px 0px -5px;
  }

  .hide {
    display: none;
  }
  .mobscroll {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 45%;
    top: 0px;
    position: relative;
  }
}
