h2 {
    font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px;
letter-spacing: -0.005em;
text-align: center;

}

.BestFeatures{
    width: 225px;
    padding: 20px;
    text-align: center;

    margin: 20px;
}